[user]
    name = Scott Smitelli
    email = scott@smitelli.com

[alias]
    log2 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x1b[33m[%an]%x1b[39m%x20%s"
    log3 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    stash-all = stash save --include-untracked

[core]
    filemode = false
    pager = less -SR

[init]
    # https://felipec.wordpress.com/2020/11/13/git-master/
    defaultBranch = master

[fetch]
    prune = true
    pruneTags = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[merge]
    conflictstyle = diff3

[pull]
    ff = only

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[status]
    showUntrackedFiles = all

[transfer]
    fsckobjects = true

[color]
    branch = auto
    diff = auto
    status = auto
    ui = true

[color "branch"]
    current = black yellow
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "grep"]
    filename = cyan
    linenumber = cyan
    match = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
